.container {
  margin-top: 75px;

  &-about {
    margin-top: 200px;
  }

  &-agility {
    margin-top: 25px;
  }
}


.splash-container {
  margin-top: 74px;
}


.blue-section {
  background-color: $rds-primary;
  padding: 15px;

  p {
    color: $white;
    font-weight: 100;
  }

}
